//全局变量
//layout_tabbar   lt
//layout_menu_left  lml
//layout_main_right     lmr
$base-lt-height:7vh;
$base-lmr-width:15vw;
$base-lml-background-color:inherit;
$base-lmr-background-color:inherit;
$base-scroll-color:black;

//logo
$base-logo-width:20%;
